body {
   width: 320px;
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h2 {
}

p {
font-size: 12px;
}

#reset {
  border: none;
  background-color: transparent;
  color: rgb(0,122,255);
  font-size: 15px;
}
